<h1>Bean Index Page</h1>
<%# <% @beans.each do |bean| %>

  <!--<h2><%#= bean.brand %></h2>-->
  <!--<p><%#= bean.variety %></p>
  <p><%#= bean.taste_note %></p>
  <p class="bean-<%#= bean.id %>"><%#= truncate bean.description %></p>
  <div class="bean-<%#= bean.id %>-details"></div>
  <button class="js-more" data-id="<%#= bean.id %>">More Info</button>
<%# end %>-->

<main id="test"></main>
